.hidden {
    display: none !important;
    opacity: 0;
    pointer-events: none;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#password-modal {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password-form {
    width: 450px;
    border: 3px solid #c1ffb0;
    background-color: #094010;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password-input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 50px;
    padding: 8px;
    font-size: 1em;
    box-sizing: border-box;
    text-align: center;
    background-color: #5e0657;
    box-shadow: inset 0 0 0 3px #ff06ee;
    color: white;
    border-radius: 5px;
}

#password-submit {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06267d;
    box-shadow: inset 0 0 0 3px #1eeae0;
    color: white;
    transition: background-color 0.3s ease;
}
#password-submit:hover {
    background-color: #0945ad;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.photo {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

.photo-wrapper {
    position: relative;
    display: inline-block;
}

.photo-wrapper img,
.photo img {
    max-width: 750px;
    max-height: 750px;
    min-width: 400px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border: 3px solid #5f5f5f;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nsfw-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff9bb;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    filter: opacity(0.95);
    backdrop-filter: blur(50px) contrast(100%);
    z-index: 10;
}

.nsfw-mask.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.final-cover {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto; 
}

.final-cover .image {
    width: 550px;
    display: flex;
    justify-content: center; 
}

.final-cover .image img {
    margin-top: 10px;
    width: 100%;
    height: auto; 
    object-fit: contain; 
    border-radius: 5px; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.button-back {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2c87c3;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button-back:hover {
    background-color: #5ba5d6;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 10px; 
}

.page-url-text {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #a71400;
    box-shadow: inset 0 0 0 2px #ffd000;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 450px;
    box-sizing: border-box;
}

.page-url-text:hover {
    background-color: #db3e00;
}

.url-container {
    margin-top: 10px;
    display: flex;
    align-items: stretch; 
    gap: 10px;
}

.single-mode-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #181a7c;
    box-shadow: inset 0 0 0 2px #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 350px;
    text-align: center;
}

.single-mode-text:hover {
    background-color: #1a2fb1;
}

.open-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26042b;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.open-link-button:hover {
    background-color: #5d0b6f;
}

.toast-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #004103;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 3px #06ff02;
    z-index: 1000;
    pointer-events: none; 
}



