.image-container {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 0;
}

.image-container img {
    width: 175px;
    height: 175px;
    display: block;
    border-radius: 5px;
    border: 2px solid #fffdca;
    object-fit: contain;
}

.button{
    box-shadow: inset 0 0 0 2px #ffffff;
}



