hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.to-short-url{
    text-align: justify;
    width: 80%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff; 
}

.to-short-url {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#long_url {
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    padding: 10px;
    font-size: 16px;
    color: #00fff7;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px solid #00fff7;
    background-color: #00023a;
    border-radius: 5px;    
}

#generate {
    width: 300px;
    height: 40px;
    background-color: rgb(226, 65, 2);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}


#generate:hover {
    background-color: #e38100;
}

#shorten_url {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 300px;
    height: 45px;
    background-color: rgb(252, 252, 185);
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 3px solid rgb(255, 157, 0);
    border-radius: 10px;
    cursor: pointer;    
}

#qrcode{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #1aff00;
}

.reminder {
    color: #ffffff;
    text-align: center;
    margin-top: 3px; 
    margin-bottom: 3px; 
    line-height: 1.1; 
}

