hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.short-url-direction {
    width: 80%;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.reminder {
    color: #ffffff;
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px; 
    line-height: 1.2; 
}

.data-display {
    width: 350px;
    height: 45px;
    background-color: #450751;
    color: #FFFFFF;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 40px;
    border: 3px solid #a48bff;
    border-radius: 10px;
    font-size: 16px;  
    margin-bottom: 10px;  
}

.button-container {    
    display: flex;
    justify-content: center;
    margin-top: 10px;    
    margin-bottom: 10px;
}

.button {
    width: 350px;
    height: 50px;
    color: black;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.green {
    background-color: #016929;
    border: 5px solid #00ff44;
}

.button.green:hover {
    background-color: #009d32;   
}

.data-display.large-box.original-url {
    min-width: 400px;
    max-width: 800px;
    width: 100%;    
    min-height: 75px;    
    color: #000;
    height: auto;  
    background-color: #ffffce; 
    border: 3px solid rgb(255, 149, 0); 
    padding: 5px;      
    font-size: 16px;    
    line-height: 1.5;   
    text-align: justify; 
    overflow-wrap: break-word;  
    word-wrap: break-word;     
    word-break: break-all;    
    box-sizing: border-box; 
    margin-top: 10px;    
    margin-bottom: 10px;
    overflow-y: auto;    
}

.google-safe-check {
    width: 400px;
    height: 45px;
    background-color: #ea9400;  /* 背景顏色 */
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;  /* 垂直置中 */
    justify-content: flex-start; /* 內容靠左對齊 */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd; 
}

.safe-check-item {
    display: flex;
    align-items: center;  /* 垂直置中 */
    gap: 10px;  /* 中間間隔 10px */
}

.safe-check-image {
    width: 30px;   /* 固定寬度 */
    height: 30px;  /* 固定高度，和容器的高度匹配 */
}

.safe-check-text {
    font-size: 16px;
    color: #000;  /* 文字顏色改為黑色 */
    line-height: 30px;  /* 使文字與圖片的高度一致 */
}

#not-check{
    display: none;
}

#safe{
    display: none;
}

#not-safe{
    display: none;
}







