hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.short-url-direction {
    width: 80%;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.reminder {
    color: #ffffff;
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px; 
    line-height: 1.2; 
}

.data-display {
    width: 350px;
    height: 45px;
    background-color: #450751;
    color: #FFFFFF;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    line-height: 40px;
    border: 3px solid #a48bff;
    border-radius: 10px;
    font-size: 16px;  
    margin-bottom: 10px;  
}

.button-container {    
    display: flex;
    justify-content: center;
    margin-top: 10px;    
    margin-bottom: 10px;
}

.button {
    width: 350px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.green {
    background-color: #016929;
    border: 5px solid #00ff44;
}

.button.green:hover {
    background-color: #009d32;   
}

.data-display.large-box.original-url {
    min-width: 400px;
    max-width: 800px;
    width: 100%;    
    min-height: 50px;    
    color: #000;
    height: auto;  
    background-color: #b5fff6; 
    border: 3px solid rgb(0, 114, 195); 
    padding: 10px;      
    font-size: 16px;    
    line-height: 1.5;   
    text-align: justify; 
    overflow-wrap: break-word;  
    word-wrap: break-word;     
    word-break: break-all;    
    box-sizing: border-box; 
    margin-top: 10px;    
    margin-bottom: 10px;
    overflow-y: auto;    
}

.safe-check{
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px;
}

.google-safe-check {
    width: 275px;
    height: 40px;
    background-color: #fffbbf; 
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ffb300; 
}

#google-safe-icon{
    width: 25px; 
    height: 25px; 
    margin-left: 5px;
}

#google-explanation{
    width: 20px; 
    height: 20px; 
    margin-left: 2px;
    margin-right: 2px;
}

#google-safe-text{
    color: #000;
}

#google-explanation-link {
    text-decoration: none; 
}

.icon-explanation{
    width: 15px; 
    height: 15px; 
    margin-right: 5px;
}











