main {
    flex: 1;
    padding: 50px 0 0;
    color: #ffffff;
}

hr {
    margin: 5px 0;
}

#service-topic,
h3 {
    text-align: center;
}

h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

details,
#one-content, #two-content{
    padding: 0 16px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}

.short-url-direction {
    width: 90%;
    max-width: 900px;
    margin: 3px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.data-display {
    width: 350px;
    height: 45px;
    background-color: #3d0000;
    color: #ffffff;
    border: 3px solid #ff278f;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    margin: 10px 0;
}

.data-display.large-box.original-url {
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    min-height: 50px;
    height: auto;
    padding: 10px;
    color: #ffffff;
    background-color: #00096c;
    border: 3px solid rgb(158, 242, 255);
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    word-break: break-all;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin: 10px 0;
}

.shorten-url:hover {
    cursor: pointer;
    background-color: #5d0000;
}

.original-url:hover {
    cursor: pointer;
    background-color: #000b8a;
}

.reminder {
    color: #ffffff;
    text-align: center;
    margin: 5px 0;
    line-height: 1.2;
}

.safe-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.google-safe-check {
    width: 275px;
    height: 40px;
    font-size: 16px;
    background-color: #fff9df;
    padding: 3px;
    border: 3px solid #e67e00;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#google-safebrowsing-icon,
#google-safe-icon {
    width: 25px;
    height: 25px;
}

#google-explanation {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

#google-safe-icon {
    margin-left: 3px;
}

#google-safebrowsing-icon {
    margin-right: 3px;
}

#google-safe-text {
    color: #000;
}

#google-explanation-link {
    text-decoration: none;
}

.icon-explanation {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.button {
    width: 100%;
    min-width: 350px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #0dff00;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.green {
    background-color: #065223;
}

.button.green:hover {
    background-color: #05591e;
}

.final-cover {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.final-cover .image {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
}

.final-cover .image img,
.final-cover img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    display: block;
    margin: 10px auto 0;
}
