body {
    background-color: #212121;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    padding: 50px 0 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

hr {
    margin: 5px 0;
}

#service-topic,
h3 {
    text-align: center;
}

h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

details {
    padding: 0 16px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}

.to-short-url {
    width: 90%;
    margin: 3px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    color: #ffffff;
}

#long_url {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    min-height: 75px;
    padding: 10px;
    font-size: 16px;
    color: #affffc;
    background-color: #001557;
    border: 3px solid #3DC2EC;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
    resize: none;
}

#generate {
    width: 225px;
    height: 50px;
    margin: 10px;
    background-color: #005d15;
    color: #d6ffe4;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid #30ff30;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#generate:hover:enabled {
    background-color: #008320;
}

#generate:disabled {
    background-color: #00440f;
    border: 3px solid #009300;
    cursor: not-allowed;
}

#shorten_url {
    width: 325px;
    height: 50px;
    margin: 10px;
    background-color: #fff3c6;
    color: #000000;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid #ff9900;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#qrcode {
    display: none;
    margin: 10px 0;
    border: 3px solid #969696;
}

.reminder {
    color: #ffffff;
    text-align: center;
    margin: 3px 0;
    line-height: 1.1;
}

.final-cover {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.final-cover .image {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
}

.final-cover .image img,
.final-cover img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    display: block;
    margin: 10px auto 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
