body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}

footer {
    background-color: #000065;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    color: #ffffff;
}