body, header, nav, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #002548; 
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000; 
}

body {
    padding-top: 60px; 
}

#logo {
    height: 40px; 
    margin-right: 20px;
    border-radius: 5px;
    border: 1.5px solid #fffed7;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 14px;
}


.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black; 
    padding: 5px 10px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c6c6c6;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li a:hover {
    background-color: #1c12d6;    
    border-radius: 5px;
}
