.index-context {
    padding: 60px 5px 0px 0px;
    text-align: center;
    width: 80%;
    margin-top: 90px;
    margin-bottom: 25px;
    padding: 0 10%;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;    
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

.index-context h3 {
    margin-top: 5px; /* 調整上邊距 */
    margin-bottom: 5px; /* 調整下邊距 */
    line-height: 1.2; /* 調整行高 */
}

.main-context {
    text-align: justify;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.short-url-direction {
    width: 80%;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.reminder {
    color: #ffffff;
    text-align: center;
    margin-top: 5px; /* 調整上邊距 */
    margin-bottom: 5px; /* 調整下邊距 */
    line-height: 1.2; /* 調整行高 */
}

.data-display {
    width: 350px;
    height: 40px;
    background-color: #e7e7e7;
    color: black;
    text-align: center;
    line-height: 40px;
    border: 3px solid rgb(87, 87, 87);
    border-radius: 10px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 200px;
    height: 50px;
    color: black;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.red {
    background-color: #ffd7d7;
    border: 3px solid #ff4747;
}

.green {
    background-color: #dcfde8;
    border: 3px solid #269c51;
}

.button.red:hover {
    background-color: #ffacac; /* 變深的紅色 */    
}

.button.green:hover {
    background-color: #aaffc9; /* 變深的綠色 */    
}

.data-display.large-box.original-url {
    width: 600px;    
    min-height: 100px;    
    height: auto;         /* 高度自動調整 */     
    background-color: #ffffdd; /* 背景顏色設為淺黃色 */
    border: 3px solid rgb(255, 208, 0); /* 外框為明黃色 */
    padding: 10px;       /* 內邊距10px */
    font-size: 16px;     /* 字體大小 */
    line-height: 1.5;    /* 行高 */
    text-align: justify; /* 文本對齊方式為兩端對齊 */
    overflow-wrap: break-word; /* 如果單詞太長無法在一行顯示，則自動斷行 */
    box-sizing: border-box; /* 包括邊框和內邊距在內的寬度和高度計算 */
}

.image-container{
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.image-container img {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid #fffccd;;
    border-radius: 10px;
    width: 100%;
    max-width: 125px;
}

@media (max-width: 576px) {
    .data-display.large-box.original-url{
        width: 90%;          /* 寬度設為100% */
        min-width: 400px;
        max-width: 550px;     /* 最大寬度為550px */
        height: auto;         /* 高度自動調整 */        
    }

    .image-container img{
        width: 80%;
    }

}
