main {
    flex: 1;
    padding: 50px 0 0;
    color: #ffffff;
}

hr {
    margin: 5px 0;
}

#service-topic,
h3 {
    text-align: center;
}

h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

#one-content,
details {
    padding: 0 16px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}

.to-check-url {
    width: 90%;
    max-width: 900px;
    margin: 3px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    color: #ffffff;
}

#long_url {
    width: 90%;
    min-width: 300px;
    max-width: 800px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: #9efffc;
    background-color: #00023a;
    border: 3px solid #00fff7;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}

#generate {
    width: 300px;
    height: 50px;
    margin: 10px 0;
    background-color: rgb(90, 10, 78);
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #cc00b4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#generate:hover {
    background-color: #7c135f;
}

.safe-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.google-safe-check {
    width: 300px;
    height: 40px;
    font-size: 16px;
    background-color: #fff9df;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #e67e00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#google-safebrowsing-icon,
#google-safe-icon,
#google-explanation {
    width: 25px;
    height: 25px;
}

#google-explanation {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

#google-safe-icon {
    margin-left: 5px;
}

#google-safebrowsing-icon {
    margin-right: 5px;
}

#google-safe-text {
    color: #000;
}

#google-explanation-link {
    text-decoration: none;
}

.icon-explanation {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.final-cover {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.final-cover .image {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
}

.final-cover .image img,
.final-cover img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    display: block;
    margin: 10px auto 0;
}
